<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<title></title>
	<link rel="stylesheet" href="../styles/styles.css" />
</head>
<body>
	<span class="preheader">Preheader</span>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>

					<!-- HEADER -->

					<table class="row header">
						<tr>
							<td class="center" align="center">
								<center>

									<table class="container">
										<tr>
											<td class="wrapper last">

												<table class="twelve columns">
													<tr>
														<td class="six sub-columns">
															<img src="images/logo.png" width="70" height="20" alt="" />
														</td>
														<td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
															<a href="#">View online</a>
														</td>
														<td class="expander"></td>
													</tr>
												</table>

											</td>
										</tr>
									</table>

								</center>
							</td>
						</tr>
					</table>

					<!-- /HEADER -->

					<!-- /MAIN -->

					<table class="container main">
						<tr>
							<td>

								<table class="row">
									<tr>
										<td class="wrapper last">

											<table class="twelve columns">
												<tr>
													<td>
														<h1>Hi, [firstname]</h1>
														<p>Lorem ipsum dolor sit amet</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>

										</td>
									</tr>
								</table>

							</td>
						</tr>
					</table>

					<!-- /MAIN -->

					<!-- FOOTER -->

					<table class="row footer">
						<tr>
							<td class="center" align="center">
								<center>

									<table class="container">
										<tr>
											<td class="wrapper last">

												<table class="twelve columns">
													<tr>
														<td align="center">
														 <p class="center">&copy; 2015 Company</p>
														 <p class="center"><a href="#" target="_blank">Unsubscribe</a></p>
														</td>
														<td class="expander"></td>
													</tr>
												</table>

											</td>
										</tr>
									</table>

								</center>
							</td>
						</tr>
					</table>

					<!-- /FOOTER -->

				</center>
			</td>
		</tr>
	</table>
</body>
</html>
