/* Settings */

// see ink/components/_settings.scss
$container-width: 600px;
$column-gutter: 20px;
$small-container-width: 100%;
$wrapper-padding-top: 0;
$column-cell-padding-bottom: 0;
$sub-column-padding-right: 0;

// $include-html-normalize-classes: false;
// $include-html-global-classes: false;
// $include-html-outlook-first-class: false;
// $include-html-media-query-classes: false;
// $include-html-alignment-classes: false;
// $include-html-grid-classes: false;
$include-html-block-grid-classes: false;
$include-html-button-classes: false;
$include-html-panel-classes: false;
// $include-html-type-classes: false;


/* Colours */

$white: #FFFFFF;
$black: #000000;


/* Type */

// $base-font-color: $black;
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-weight: normal;
// $base-line-height: 1.3;

// $h1-font-size: 40px;
// $h2-font-size: 27px;
// $h3-font-size: 24px;
// $h4-font-size: 20px;

// $body-font-size: 14px;
// $body-line-height: 19px;

// $anchor-text-decoration: none;
// $anchor-font-color: $base-font-color;
// $anchor-font-color-visited: $anchor-font-color;
// $anchor-font-color-hover: $anchor-font-color;
// $anchor-font-color-active: $anchor-font-color-hover;


/* Ink */

@import "ink";


/* Custom settings */

$bg-color: $white;


/* Desktop Styles */

.preheader {
	display: none !important;
	font-size: 1px !important;
	max-height: 0 !important;
	line-height: 0 !important;
	color: $bg-color !important;
	mso-hide: all;
}

p {
	margin: 0;
	word-break: normal;

	& + p {
		margin-top: 10px;
	}
}

body,
table.body {
	background-color: $bg-color;
}

table.header {
}

table.main {
}

table.footer {
}

/* Mobile Styles */
@if $include-html-media-query-classes {
@media #{$small-only} {

	table[class="body"] {

		table.header {
		}

		table.main {
		}

		table.footer {
		}

	}

}
}
